.wrapper_counter {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: var(--xs);
    color: var(--primary_dark);

    & .units {
        width: 1rem;
        font-weight: var(--semibold);
        font-size: var(--m);
    }
}