.wrapper_counter {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: var(--xs);
    gap: var(--xs);

    & .units {
        width: 1rem;
        font-weight: var(--semibold);
        font-size: var(--m);
    }
}