.btn_add {
    width: 100%;
    padding: var(--s);
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: var(--bold);
    background-color: var(--bg_secondary_light);
    border-radius: var(--xs);
    color: var(--primary_dark);
    &:focus{
            outline:var(--xxxs) solid var(--color_primary_dark)
    }
    &:disabled{
        background-color: var(--neutro_light);
        opacity: 0.6;
        cursor: not-allowed;
    }
}