.container_toast {
    width: 100%;
    position: absolute;
    top: -16dvh;
    left: 0;
    z-index: 99;
    opacity: 0.5;
    transition: all 0.5s ease-in-out 0s;
    
    
    &.animate {
        animation: hideToast 0.5s ease-in-out 4s normal both;
        top: 6dvh;
        opacity: 1;
    }

    & .toast {
        width: clamp(348px, 80%, 600px);
        display: flex;
        align-items: center;
        background-color: var(--pure_white);
        padding: var(--xs) var(--s);
        border-radius: var(--xs);
        gap: var(--s);
        margin: 0 auto;
        border: var(--xxxs) solid var(--neutro_normal);
        box-shadow: 0px 0px var(--s) 0px var(--neutro_light);

        &.success {
            border: var(--xxxs) solid var(--secondary_normal);
            box-shadow: 0px 0px var(--s) 0px var(--secondary_light);
        }

        &.info {
            border: var(--xxxs) solid var(--primary_dark);
            box-shadow: 0px 0px var(--s) 0px var(--primary_light);
        }

        &.warning {
            border: var(--xxxs) solid var(--warning);
            box-shadow: 0px 0px var(--s) 0px var(--accent_light);
        }

        &.alert {
            border: var(--xxxs) solid var(--error);
            box-shadow: 0px 0px var(--s) 0px var(--accent_light);
        }
    }
    & .icon{}
    & .message{}
}

@keyframes hideToast {

    to {
        top: -16dvh;
    }
}