.add_item_modal {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    gap: var(--s);
}

hr {
    border: 2px solid var(--color_primary_dark);
    width: 100%;
    border-radius: var(--xs);
}