.layout_modal {
    width: clamp(200px, 80vw, 320px);
    height: clamp(600px, 100%, 100%);
    border: var(--xxxs) solid var(--color_primary_dark);
    border-radius: var(--xxs);
    display: grid;
    place-items: center;
    place-self: center;
    padding: var(--s);
    position: relative;

}

.info {
    background-color: var(--bg_secondary_lighter);
}

:root[data-theme="dark"] .info {
    --bg_secondary_lighter: var(--primary_dark);
    --color_primary_dark: var(--pure_white);
}