.category {
    padding: var(--s);

    &>summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--xs);
        background-color: var(--secondary_lighter);
        padding: var(--xs) var(--s);

    }

    & ::marker {
        content: '';
    }
}

.category[open] svg {
    transform: rotate(90deg);
}

.category_title {
    color: var(--primary_dark);
    display: inline-block;
}

.category_content {
    padding: var(--s);

    & fieldset {
        margin: var(--s) 0;
    }
}