.category {
    cursor: pointer;
    padding: var(--s);
    /* pointer-events: none; */

    &>summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: var(--xs);
        background-color: var(--secondary_lighter);
        padding: var(--xs) var(--s);
        filter: drop-shadow(0px 0px 4px var(--neutro_lighter));

        &>svg{
            pointer-events: all;
        }

    }

    & ::marker {
        content: '';
    }
}

.category[open] .arrow {
    transform: rotate(90deg);
}

.category_title {
    color: var(--primary_dark);
    display: inline-block;
}