.modal_category {
    background-color: var(--bg_pure_white);
    padding: var(--s);
    border: var(--xxs) solid var(--color_primary_dark);
    border-radius: var(--xs) var(--xs) 0 0;
    height: 300px;
    overflow-y: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9;
}

.modal_category_title {
    margin: var(--s) 0;
}

.modal_category_content {

    & li {
        margin: var(--m) 0;
    }
}