/* FONTS */
/* Unbounded font */
@font-face {
    font-family: 'Unbounded';
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100 800;
    src: url(../assets/font/Unbounded-VariableFont.ttf) format('woff2');
}

/* Raleway */
@font-face {
    font-family: 'Raleway';
    font-stretch: 100%;
    font-style: normal;
    font-weight: 100 800;
    src: url(../assets/font/Raleway-VariableFont.ttf) format('woff2');
}

:root {
    /* COLORS */
    --primary_dark: #2C004D;
    --primary_normal: #7600CC;
    --primary_light: #B34DFF;
    --primary_lighter: #E9CCFF;

    --secondary_dark: #24331A;
    --secondary_normal: #618844;
    --secondary_light: #A1C388;
    --secondary_lighter: #E4EEDD;

    --neutro_dark: #262626;
    --neutro_normal: #666666;
    --neutro_light: #A6A6A6;
    --neutro_lighter: #E6E6E6;

    --accent_dark: #3F330E;
    --accent_normal: #A88924;
    --accent_light: #DFC46C;
    --accent_lighter: #F6EED5;

    --pure_white: #FFFFFF;

    --error: #E01300;

    --warning: #A46A19;

    /* COLORS DARK MODE */
    --color_primary_dark: var(--primary_dark);
    --bg_secondary_lighter: var(--secondary_lighter);
    --bg_pure_white: var(--pure_white);

    /* COLOR SCHEME */
    color-scheme: light dark;
    color: var(--color_primary_dark);
    background-color: var(--bg_secondary_lighter);
    /* color: light-dark(var(--primary_dark), var(--pure_white));
    background-color: light-dark(var(--pure_white), var(--primary_dark)); */

    /* SIZES & BASIC SPACES*/
    --xxxs: 2px;
    --xxs: 4px;
    --xs: 8px;
    --s: 16px;
    --m: 24px;
    --l: 32px;
    --xl: 40px;
    --xxl: 48px;
    --xxxl: 56px;
    --xxxxl: 64px;
    --max_width: 1200px;

    /* TYPOGRAPHY */
    --accent: 'Unbounded';
    --common: 'Raleway';
}

/* DARK THEME */

:root[data-theme="dark"] {
    --color_primary_dark: var(--pure_white);
    --bg_secondary_lighter: var(--primary_dark);
    --bg_pure_white: var(--primary_dark);
}


html {
    scroll-behavior: smooth;
}

body {
    max-width: var(--max_width);
    margin: 0 auto;
    height: 100vh;
    background-color: var(--bg_pure_white);

}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--accent);
}

h1 {
    font-size: var(--l);
}

p {
    font-family: var(--common);
    line-height: 1.5;
}