.wrapper_button_add_item {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: var(--s);
}


.btn_add {
    width: clamp(200px, 100%, 1200px);
    padding: var(--s);
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: var(--bold);
    background-color: var(--bg_secondary_light);
    border-radius: var(--xs);
    color: var(--primary_dark);
}