    .input_text_label {
        display: inline-block;
        font-weight: var(--bold);
        color: var(--color_primary_dark);

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .input_text {
        width: 100%;
        text-align: center;
        padding: var(--xs);
        border-radius: var(--xs);
        border: var(--xxxs) solid var(--neutro_normal);
        font-weight: var(--semibold);
        font-size: var(--s);

        &::placeholder {
            color: var(--neutro_normal);
        }
    }