.product_checkbox {
    display: none;
}

.label_product {
    width: 100%;
    max-width: 20ch;
    color: var(--primary_dark);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: var(--semibold);
    white-space: nowrap;
    gap: var(--xs);

    & span {
        text-overflow: ellipsis;
        overflow-x: hidden;
    }
}

input:checked+label .checked {
    fill: var(--primary_normal);
}