.product_checkbox {
    display: none;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: var(--semibold);
    white-space: nowrap;
    gap: var(--xs);
}

input:checked+label .checked {
    fill: var(--primary_normal);
}